<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/css/app.css">
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="/">
                  Todo
                </a>
                {% if user is defined %}
                    <a class="navbar-brand" style = "float:right;" href="/user/logout"> {{ user}} Exit</a>
                {% endif %}
              </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>
