{% extends "base.html.twig" %}
    {% block javascripts %}
        {{ parent() }}
        <script src="/js/todoList.js"></script>
    {% endblock %}
    {% block content %}
        <section id="todoapp">
            <header id="header">
                <h1>todos</h1>
                <input id="new-todo" name = 'task' placeholder="What needs to be done?" autofocus="">
            </header>
            <section id="main" style="display: block;">
                <!--<input id="toggle-all" type="checkbox">-->
                <!--<label for="toggle-all">Mark all as complete</label>-->
                <ul id="todo-list" style = "height: 200px; overflow-y: scroll;">
                    {% set counterOfUnclosed = 0 %}
                    {% for task in todos %}
                        <li data-id="{{task.id}}" 
                            {% if task.isClosed %}
                                class="completed"
                            {% else %}
                                {% set counterOfUnclosed = counterOfUnclosed + 1 %}
                            {% endif %}>
                            <div class="view">
                                <input data-id="{{task.id}}" class="toggle" {% if task.isClosed %} checked {% endif %} type="checkbox">
                                <label>{{task.task}}</label>
                                <button data-id="{{task.id}}" class="destroy"></button>
                            </div>
                            <input class="edit" value="123">
                        </li>
                    {% endfor %}
                </ul>
            </section>
            <footer id="footer" style="display: block;">
                <span id="todo-count"><strong>{{ counterOfUnclosed }}</strong> items left</span>
                <ul id="filters">
                    <li>
                        <a class="selected filter_button" data-active = "">All</a>
                    </li>
                    <li>
                        <a class = "filter_button" data-active = "0">Active</a>
                    </li>
                    <li>
                        <a class = "filter_button" data-active = "1">Completed</a>
                    </li>
                </ul>	
            </footer>
        </section>
{% endblock %}
