<li data-id="{{task.id}}" {% if task.isClosed %} class="completed" {% endif %}>
    <div class="view">
        <input data-id="{{task.id}}" class="toggle" {% if task.isClosed %} checked {% endif %} type="checkbox">
        <label>{{task.task}}</label>
        <button data-id="{{task.id}}" class="destroy"></button>
    </div>
    <input class="edit" value="123">
</li>