{% extends "base.html.twig" %}
    {% block content %}
        <form action = "/user/login" method = "post">
            Логин
            {{ form.login|raw }}
            <div>
                {{ form.login.error }}
            </div>
            Пароль
            {{ form.password|raw }}
            <div>
                {{ form.password.error }}
            </div>
            <div>
                <a href ="/user/registration" >Регистрация</a>
            </div>
            <div>
                <input type="submit" class = "btn btn-success btn-xs" value = 'Войти'>
            </div>
        </form>
    {% endblock %}
