{% extends "base.html.twig" %}
    {% block content %}
        <form action = "/user/registration" method = "POST">
            Логин
            {{ form.login|raw }}
            <div>
                {{ form.login.error }}
            </div>
            Пароль
            {{ form.password|raw }}
            <div>
                {{ form.password.error }}
            </div>
            Пароль еще раз
            {{ form.password_confirm|raw }}
            <div>
                <input name = 'submit' type="submit" class = "btn btn-success btn-xs" value = 'Регистрация'>
            </div>
        </form>
    {% endblock %}

